<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<h1>Brijpushpa the Great</h1>
	<h2>Learning Spring Boot</h2>
	
	<h4>Name of the Author is <span th:text="${name}"></span> </h4>
	<h3 th:text="${#strings.toUpperCase(name)}"></h3>
	<p>The length of the name is <span th:text="${#strings.length(name)}"></span></p> 
	<h4 th:text="${Date}"></h4>
	
	<div th:with="a=5, b=6, n=${name}">
		Value of a is <span th:text="${a}"></span>
		<h5 th:text="'Value of b is '+${b}"></h5>
		<h6> Local value of n is <span th:text="${n}"></span></h6>
		<h3 th:text="'Sum of '+${a}+' and '+${b}+' is '+${a+b}"></h3>
		
	</div>
</body>
</html>	