<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Footer page</title>
</head>
<body>
	<footer id="fragment tag" th:fragment="footer1(title,subtitle)">

		<div class="container">
			<h1 th:text="${title}"></h1>
			<h3 th:text="${subtitle}"></h3>
			<h1>Brijpushpa the Great</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Recusandae asperiores voluptatem impedit beatae error explicabo
				necessitatibus quos dolores eius. Sequi veritatis illo incidunt
				totam in suscipit rerum iure dolorem. Modi illum voluptatum dolore
				laboriosam sequi aspernatur aut molestiae ab odit facere similique
				quam hic fugiat? Porro doloribus magni iure repudiandae.</p>
		</div>
	</footer>
</body>
</html>